/target
**/*.rs.bk

#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
Cargo.lock

#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
#Cargo.lock

sys/discord_game_sdk.h
shell.nix

