/target
**/*.rs.bk

#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
Cargo.lock

#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
#Cargo.lock

shell.nix
discord_game_sdk.dll
